.img_cont {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img_cont img {
    height: -webkit-fill-available;
}

.resp_img {
    max-width: 70%;
    max-height: 260px;
    height: auto;
    /* aspect-ratio: 16 / 9; */
    object-fit: cover;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.large_image {
    /* margin-top: 4%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.image {
    width: 85%;
    /* height: 100%; */
    object-fit: cover;
    transition: 1s;
}

.image:hover {
    scale: 1.15;
}

.tab_image {
    height: 75px;
}
.header_logo_image {
    max-height: 64px;
}

.logo_img {
    padding-left: 1em;
    padding-top: 1em;
    min-height: 60px;
    min-width: 35%;
}