:root {
    --active_border: #fd7f0a;
}

.show_more {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 85%);
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 16px;
    min-height: 80px;
    width: 100%;
    background-color: hsl(0, 0%, 5%);    
    max-width: 1920px;
}

.search_container {
    position: relative;
}

.search_label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: var(--purple_3);
}

.search_label::before {
    content: "";
    height: 5px;
    background-color: hsl(0, 0%, 10%);
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text_input:focus {
    border: 2px solid var(--purple_3);
}

.text_input:focus + .search_label, 
.text_input.has-content + .search_label { 
    top: -10px;
    color: var(--purple_3);
    font-size: 15px;
}

.text_input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all .3s;
}

.text_input:focus::placeholder {
    opacity: 1;
    animation-delay: .2s;
}

.text_input {
    padding: 10px;
    /* width: 100%; */
    height: 100%;
    border: 2px solid var(--purple_1);
    background: hsl(0, 0%, 10%);
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all .3s;
    color: hsl(0, 0%, 85%);
}

.btn_showmore {
    font-family: "Comic Relief", system-ui;
    height: 45px;
    padding: 0 6px;
    cursor: pointer;
    color: var(--purple_3);
    background-color: hsl(0, 0%, 10%);
    border: 2px solid var(--purple_1);
    border-radius: 5px;
    font-size: 16px;
    min-width: 95px;
    /* margin-left: 4px; */

}

.btn_showmore:hover {
    background-color: hsl(0, 0%, 15%);
}

.text_input:hover {
   background: hsl(0, 0%, 15%); 
   background-color: hsl(0, 0%, 15%); 
}

.qty_input {
    width: 95px; 
    height: 45px;
    margin-right: 0.7em;
}