.tab_container {
    width: 282px;
    height: 200px;
    display: flex;
    position: relative;
}

.tab_container input {
    display: none;
}

.tab_name {
    color: hsl(0, 0%, 85%);
    height: 24px;
    background-color: hsl(0, 0%, 20%);
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}

input:checked + label .tab_name {
    background-color: var(--purple_1);
    transition: .2s;
}

.tab_content {
    position: absolute;
    top: 32px;
    left: 0;
    background-color: hsl(0, 0%, 10%);
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 0;
    opacity: 0;
    transition: 0.3s;
    min-width: 282px;
    max-height: 330px;
    overflow-y: auto;
    min-height: 320px;
}

input:checked + label .tab_content {
    opacity: 1;
    z-index: 1;
}

.tab_label {
    min-width: calc(288px / 3);

}

.tab_name:hover {
    background-color: hsl(0, 0%, 30%);
    transition: 0.3s;
}

@media (max-width: 480px) {
    .search_container {
        width: 30dvw;
    }

}

@media (max-width: 375px) {
    td:nth-child(1) {
        min-width: 80px;
    }
    .modal {
        width: 270px;
        overflow: hidden;
    }
    .tab_label {
        min-width: calc(238px / 3);
    }
    .tab_evo {
        flex-direction: column;
    }
    .progress_bar {
        --max-width: 200px;
        width: 200px;
    }
    .tab_content {
        min-width: 230px;
    }
    .progress_bar::after {
        max-width: calc(200px - 1.3em);
    }
    .tab_evo {
        padding: 4px;
    }
    
}

@media (max-width: 326px) {
    .tab_label {
        min-width: calc(236px / 3);
}
}

@media (max-height: 800px) {
    .tab_image {
        width: 60px;
    }
    .large_image {
        width: 60%;
    }
    .large_card {
        min-height: 590px;
    }
}
