.tab_container {
    width: 282px;
    height: 200px;
    display: flex;
    position: relative;
}

input {
    display: none;
}

.tab_name {
    color: hsl(0, 0%, 85%);
    height: 24px;
    background-color: hsl(0, 0%, 20%);
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}

input:checked + label .tab_name {
    background-color: var(--purple_1);
    transition: .2s;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tab_content {
    position: absolute;
    top: 32px;
    left: 0;
    background-color: hsl(0, 0%, 10%);
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 0;
    opacity: 0;
    transition: 0.3s;
    min-width: 282px;
    max-height: 160px;
    overflow-y: auto;
}

input:checked + label .tab_content {
    opacity: 1;
    z-index: 1;
}

.tab_label {
    min-width: 96px;
}

.tab_name:hover {
    background-color: hsl(0, 0%, 30%);
    transition: 0.3s;
}

    